//
// Variables
// --------------------------------------------------

//== Bootstrap variables & fonts
//
//##

@import para/admin/src/bootstrap-variables

//== Specific variables
//
//##

//** Colors

$blue-darker: #3F4352
$purple: #AB8CE4

//** padding & margin spacer

$spacer: 10px
$spacer-y: $spacer
$spacer-x: $spacer

//** Left menu

$left-menu-width-open: 260px
$soft-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
$soft-shadow-2: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1)
